

$color-white              : #FFFFFF;
$color-black              : #000000;
$color-grey               : #616161;
$color-dark-grey          : #787878;
$color-light-grey         : #CCCCCC;
$color-super-light-grey   : #EFEFEF;
$color-lush-green         : #5A8200;
$color-leaf-green         : #009639;
$color-gainsboro          : #DEDEDE;
$color-light-redis        : #F3F3F3;
$color-orange             : #FF4713;
$color-pink               : #FC9BB3;
$color-dark-red           : #C00B28;
$color-light-yellow       : #FFE67F;
$color-yellow             : #FFCE00;